:root {
    --primary-color:#000000;
    --secondary-color:#ffffff;
    --tertiary-color:#999799;
    --accent-color:#6b4e71;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--primary-color);
    background-color: var(--primary-color);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    z-index: 9999;
    flex-direction: row-reverse;
}

header h1 {
    font-weight: bold;
    font-size: 35px;
    color: var(--secondary-color);
    margin: 0;
    padding-right: 60px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-shadow: 0 0 20px rgba(107, 78, 113, 1);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
    text-shadow: 0 0 20px rgb(130, 81, 140);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background-color: var(--accent-color);
    color: var(--tertiary-color);
    border-radius: 15px;
    text-shadow: none;
}

section {
    padding: 60px;
}

.flex-row {
    display: flex;
}

.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
    float: right;
}

.about-title {
    color: var(--secondary-color);
    font-size: 45px;
    padding: 20px;
    text-shadow: 0 0 20px rgba(107, 78, 113, 1);
}

.about-text {
    color: var(--tertiary-color);
    line-height: 1.5;
    width: 90%;
    padding-left: 25px;
    padding-right: 25px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    flex: 1 40%;
    flex-direction: column;
    width: 35%;
    padding-top: 80px;
}

.contact-title {
    color: var(--secondary-color);
    padding-bottom: 10px;
    padding-left: 15px;
    width: 40%;
    line-height: 1.5;
    border-left: 3px solid var(--accent-color);
    text-shadow: 0 0 20px rgba(107, 78, 113, 1);
}

.contact-list {
    color: var(--tertiary-color);
    line-height: 1.5;
    padding-left: 10px;
    border-left: 3px solid var(--tertiary-color);
    text-shadow: 0 0 2px rgb(255, 255, 255, 0.5);
}

.contact-list ul li {
    text-decoration: none;
    list-style: none;
}

.contact-list ul li a {
    text-decoration: none;
    list-style: none;
    color: var(--tertiary-color);
}

.work {
    color: var(--secondary-color);
    padding-top: 100px;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

.work h2 {
    padding-bottom: 25px;
    font-size: 35px;
    text-shadow: 0 0 20px rgba(107, 78, 113, 1);
}

.work h3 {
    color: var(--accent-color);
}

.work-grid-wrapper {
    display: flex;
    width: 80%;
    height: 500px;
    justify-content: flex-start;
}

.work-grid-container {
    width: 80%;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr repeat(1, 1fr);
    background-color: var(--tertiary-color);
    padding: 10px;
    border: 2px solid var(--primary-color);
    font-size: 1.2rem;
}

.work-grid-item {
    padding: 15px 0;
    border: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.work-grid-item:hover {
    background-color: rgba(0, 0, 0, 0);
}

.work-grid-item.working {
    grid-row: 1 / 3;
    background-image: url("../assets/images/Run\ Buddy\ 2.0.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
